In [14]:
import pandas as pd
import subprocess
from io import StringIO

In [15]:
# Documentação https://github.com/Microsoft/pict/blob/main/doc/pict.md
command = "./pict.exe ./possibilities.txt"
result = subprocess.run(command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE, text=True)
data = result.stdout
df = pd.read_csv(StringIO(data), sep='\t')

In [16]:
# Todas as colunas
print(df.head(0))

Empty DataFrame
Columns: [jun2024, jul2024, ago2024, set2024, out2024, nov2024, dez2024, jan2025, fev2025, mar2025, abr2025, mai2025, jun2025, jul2025, ago2025, set2025, out2025, nov2025, dez2025, Alaska Cruises, Bahamas Cruises, Caribbean Cruises, Europe Cruises, Hawai'i Cruises, Mexico Cruises, New Zealand and Australia Cruises, Pacific Coast Cruises, South Pacific Cruises, Transatlantic Cruises, Disney Castaway Cay, Disney Lookout Cay at Lighthouse Point, Auckland, New Zealand, Barcelona, Spain, Brisbane, Australia, Civitavecchia (Rome), Italy, Fort Lauderdale, Florida, Galveston, Texas, Honolulu, Hawai'i, Melbourne, Australia, Port Canaveral, Florida, San Diego, California, San Juan, Puerto Rico, Southampton, England, Sydney, Australia, Vancouver (British Columbia), Canada, Accessibility Room, Children, Adult, ChildrenAge1, ChildrenAge2, ChildrenAge3, ChildrenAge4]
Index: []

[0 rows x 52 columns]

In [19]:
# Constraints para as crianças
df_filtered = df.query('(Children + Adult) <= 5')

# Constraints para os adultos acima de 1 ano
df_filtered = df_filtered.query('(Adult) > 0')

# Lista de todos os mesed o ano
todos_os_meses = ["jun2024", "jul2024", "ago2024", "set2024", "out2024", "nov2024", "dez2024", "jan2025", "fev2025",
                  "mar2025", "abr2025", "mai2025", "jun2025", "jul2025", "ago2025", "set2025", "out2025", "nov2025"]

# Lista padrão que todos precisam para fazer o teste
colunas_padrao = ['Children', 'Adult', 'ChildrenAge1', 'ChildrenAge2', 'ChildrenAge3', 'ChildrenAge4']

# Tratamento dos dados da quantidade de pessoas
def ajustar_idades_criancas(row):
    num_criancas = row['Children']
    for i in range(1, 5):
        if i <= num_criancas:
            continue
        else:
            row[f'ChildrenAge{i}'] = None
    return row

# Aplicar a função a cada linha do DataFrame
df_filtered = df_filtered.apply(ajustar_idades_criancas, axis=1)

In [18]:
# Criar uma lista dos meses desejados
meses_desejados = ['jun2024', 'jul2024', 'ago2024', 'set2024', 'mai2025', 'jun2025', 'jul2025', 'ago2025', 'set2025']
locais_desejados = ['Vancouver (British Columbia), Canada']
colunas = meses_desejados + locais_desejados + colunas_padrao

# Aplicar filtro para cruzeiro específico de destino
local_de_destinho = 'Alaska Cruises'
df_filtered_cruise = df_filtered[df_filtered[local_de_destinho] == 'Checked'][colunas]

# Exibir os resultados
df_filtered_cruise

,jun2024,jul2024,ago2024,set2024,mai2025,jun2025,jul2025,ago2025,set2025,"Vancouver (British Columbia), Canada",Children,Adult,ChildrenAge1,ChildrenAge2,ChildrenAge3,ChildrenAge4
1,Unchecked,Checked,Unchecked,Unchecked,Unchecked,Checked,Unchecked,Checked,Unchecked,Checked,0,5,None,None,None,None
4,Checked,Checked,Checked,Unchecked,Checked,Checked,Unchecked,Unchecked,Unchecked,Checked,1,3,15,None,None,None
7,Checked,Checked,Checked,Unchecked,Unchecked,Checked,Checked,Unchecked,Checked,Unchecked,0,1,None,None,None,None
8,Checked,Unchecked,Unchecked,Checked,Unchecked,Checked,Checked,Unchecked,Unchecked,Checked,3,2,8,2,6,None
10,Unchecked,Checked,Unchecked,Checked,Checked,Checked,Checked,Checked,Checked,Checked,2,1,12,10,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,Checked,Unchecked,Checked,Checked,Checked,Checked,Checked,Checked,Checked,Checked,2,1,11,5,None,None
348,Checked,Unchecked,Unchecked,Checked,Checked,Unchecked,Unchecked,Checked,Unchecked,Checked,2,1,17,9,None,None
349,Unchecked,Unchecked,Checked,Checked,Unchecked,Unchecked,Unchecked,Checked,Checked,Checked,2,3,5,3,None,None
362,Checked,Checked,Checked,Unchecked,Unchecked,Checked,Checked,Checked,Unchecked,Unchecked,1,3,Infant,None,None,None
364,Checked,Unchecked,Checked,Unchecked,Checked,Checked,Unchecked,Checked,Checked,Unchecked,0,1,None,None,None,None